.list_container {
  margin: 20px 0;
  text-align: center;
}

.add_btn_select_container {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.add_btn {
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 15px;
  background-color: rgb(0, 184, 0);
  border: 1px solid darkgreen;
  font-weight: 900;
  font-size: 15px;
  color: rgb(0, 39, 0);
  box-shadow: 2px 2px 10px 0 grey;
}
.add_btn:hover {
  background-color: rgb(3, 221, 3);
}

.item_container {
  display: flex;
  flex-wrap: wrap;
}

.add_select_container {
  display: flex;
}
